body {
    background: black;
    background-image: url("../img/matrix.jpg");

    /* no funcionaba ya que voolvia a D// y buscaba assets/img agregue ../ y comence de img funcionando  */
    color: white;
    font-family: "Courier New";
    width: 80%;
    margin: auto;
}

p {
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
}

#big {
    font-size: 2em;
}

.skills {
    color: white;
}

.border-box {
    border: solid 2px white;
    padding: 20px;
    margin: 50px;
}

.seccion1 {
    border: solid 2px white;
    padding: 20px;
    margin: 50px;
    border-radius: 15px;
}

.seccion2 {
    font-size: 20px;
    border: solid 2px red;
    padding: 20px;
    margin: 50px;
    font-family: 'Comic Sans MS';
    border-radius: 15px;
}

.seccion3 {
    border: solid 2px green;
    padding: 20px;
    margin: 50px;
    font-size: 20px;
    border-radius: 15px;
}

.seccion4 {
    border: solid 2px yellow;
    padding: 20px;
    margin: 50px;
    font-size: 20px;
    border-radius: 15px;
}

img {
    border: solid 3px green;
    border-radius: 15px;
}

.fotocv {
    display: flex;
    justify-content: center;
    
}

.titulo {
    text-align: center;
}

.link {
    border: solid 4px red;
    padding: 20px;
    margin: 50px;
    border-radius: 15px;
    font-size: 20px;
    color: red;
}

.tabla {
    border: solid 4px red;
    padding: 2px;
    margin: 50px;
    border-radius: 15px;
    font-size: 20px;
    color: red;
}

.col {
    border: solid 3px green;
    padding: 10px;
    margin: 50px;
}